<ion-view view-title="Gordon College College of Computer Studies" >
  <ion-content class="padding">
   	<br><br><br>	
		<img src="http://gordoncollegeccs.edu.ph/gcccs/images/logoccs.png" width="20%" height="30%" style="margin-left:40%"	> 
	
		<div class="card">
		  	  <div class="item item-divider item-calm item item-icon-left">
				<i class="icon ion-information-circled"></i>
				HISTORY
		  </div>
		  <div class="item item-text-wrap">
			<p>Gordon College, also known as Dalubhasaang Gordon in Filipino, is a local government-funded college in Olongapo City, Philippines. It was founded on February 24, 1999 by virtue of City Ordinance No. 9, and is composed of four constituent colleges: College of Computer Studies, College of Business and Accountancy, College of Education, and College of Nursing. Other academic units include the School of Midwifery, Department of Vocational Technology, Faculty of Arts and Sciences, Center for Research and Development, and Institute of Graduate Studies.</p>
		  </div>
		</div>	

		<div class="card">
		 	  <div class="item item-divider item-calm item item-icon-left">
				<i class="icon ion-ios-eye"></i>
				VISION
		  </div>
		  <div class="item item-text-wrap">
			<p>A premiere institution of higher learning committed to the holistic development of the human person and the society. </p>
		  </div>
		</div>	
		
		<div class="card">
		  <div class="item item-divider item-calm item item-icon-left">
				<i class="icon ion-ios-briefcase"></i>
				MISSION
		  </div>
		  <div class="item item-text-wrap">
			<p>To produce well-trained, skilled, dynamic and competitive individuals imbued with values and attitudes and responsive to the changing needs of the local, national and global communities.</p>
		  </div>
		</div>	
		
		<div class="card">
			<div class="item item-divider item-calm item item-icon-left">
				<i class="icon ion-ios-football"></i>
				
				GOALS
		  </div>
		  <div class="item item-text-wrap">
			<p>The Gordon College shall:	</p>
			
					<p>1. Provide opportunities that will enable individuals to acquire a high level of professional, technical and vocational courses of studies. </p>
					<p> 2. Develop innovative programs, projects and models of practice by undertaking research and studies. </p>
					<p>3. Promote community development through relevant extension programs. </p>
					<p> 4. Provide opportunities for entrepreneurship and employability of graduates. </p>
		
		  </div>
		</div>
		<div class="card">
			<div class="item item-divider item-balanced item item-icon-left">
				<i class="icon ion-ios-telephone"></i>
				Contact Us
		  </div>
			<div class="button-bar ">
			  <a class="button button-positive icon ion-social-facebook" href="https://www.facebook.com/GordonCollegeCcs/?fref=ts"></a>
			  <a class="button  button-calm  icon ion-social-twitter" href="https://www.facebook.com/GordonCollegeCcs/?fref=ts"></a>
			  <a class="button  button-assertive icon ion-social-google"></a>
			</div>
		</div>
  </ion-content>
</ion-view>
